.header {
  &-top {
    background-color: var(--color-primary);
    padding: 10px 0;
    font-family: var(--font-quicksand);

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        color: var(--color-white);
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.28;
      }
    }
  }

  &-top__right {
    .list-support {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      a {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .icon {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &-mid {
    background-color: var(--color-grey-4);
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__logo {
      height: 4.7rem;
    }

    &__filter {
      font-family: var(--font-manrope);

      .form-search {
        display: flex;
        background-color: #fff;
        height: 4.2rem;
        border-radius: 10.5143rem;
        border: 1.051px solid #fff0ec;
      }

      .select-all {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-left: 1.829rem;
        padding-right: 1.262rem;
        border-right: 1.051px solid #fff0ec;

        cursor: pointer;
      }

      .form-group-search {
        display: flex;
        align-items: center;
        padding-left: 1.472rem;
        padding-right: 1.2rem;
        width: 33.2rem;
      }

      .input-search::placeholder,
      .select-all .text {
        color: var(--color-grey-3);
        font-size: 1.472rem;
        font-weight: 400;
      }

      .input-search {
        border: 0;
        background-color: transparent;
        width: 100%;
      }
      .btn-search {
        display: flex;
        align-items: center;
      }
    }
  }

  //mobile
  &-mobile-top,
  &-mobile-bottom {
    display: none;
  }

  &-mobile-nav {
    transform: translateX(-50rem);
  }
}

.btn-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  inset: 0;
  z-index: 999;
  display: none;
}

@media (min-width: 992px) {
  .header {
    &-bottom {
      height: 5.4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: var(--font-quicksand);
      font-size: 1.472rem;
      box-shadow: 0 0.4206rem 1.125rem 0 rgba(244, 244, 244, 0.5);

      &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__nav {
        .nav-list {
          display: flex;
          align-items: center;
          gap: 1rem;

          & > .nav-item > a {
            color: var(--color-grey);
            font-weight: 500;
            padding: 1.65rem 1rem;
            display: inline-block;

            &:first-child {
              padding-left: 0;
            }
            &:hover {
              color: var(--color-primary);
            }
          }

          .mega-menu {
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: var(--color-white);
            box-shadow: -0.1rem 0.7rem 1.4rem 0.5rem rgb(33 33 33 / 20%);
            padding: 3.9rem 4.8rem 4.9rem;
            opacity: 0;
            visibility: hidden;
            z-index: 10;

            & > .nav-item {
              a {
                font-weight: 500;
                color: var(--color-secondary);
                font-family: var(--font-manrope);
                &:hover {
                  color: var(--color-primary);
                }
              }

              & > a {
                font-size: 1.8rem;
                padding: 0.8rem 1.2rem;
                width: 26.6rem;
                display: flex;
                justify-content: space-between;
                &:hover .icon path {
                  stroke: var(--color-primary);
                }
              }

              .sub-menu {
                max-width: 64rem;
                position: absolute;
                top: 4.8rem;
                left: calc(26.6rem + 4.8rem + 9.9rem);
                display: flex;
                flex-wrap: wrap;
                column-gap: 7.1rem;
                padding: 0;
                opacity: 0;
                visibility: hidden;

                a {
                  display: inline-block;
                  font-size: 1.4rem;
                  padding: 0.75rem 0;

                  &:hover {
                    transform: translateX(1rem);
                  }
                }
              }

              &:hover .sub-menu {
                opacity: 1;
                visibility: visible;
              }
            }
          }
          & > .nav-item:hover .mega-menu {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      &__hotline {
        display: flex;
        align-items: center;
        gap: 0.841rem;
        font-weight: 600;
        color: #5c5c5c;
      }
    }

    &-mobile {
      &-nav {
        display: none;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .header {
    &-top,
    &-mid,
    &-bottom {
      display: none;
    }

    &-mobile-top {
      display: block;
      font-family: var(--font-quicksand);
      background-color: var(--color-primary);

      &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5.2rem;
      }
      &__hotline {
        display: flex;
        align-items: center;
        gap: 0.84rem;
        color: var(--color-white);
        font-size: 1.2rem;
        font-weight: 600;
      }
    }

    &-mobile-bottom {
      display: block;
      border-bottom: 0.1rem solid var(--color-grey-6);
      position: sticky;
      top: 0;
      background-color: var(--color-white);
      z-index: 99;

      &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5.4rem;
      }
      &__menu {
        cursor: pointer;
        transform: translateX(-0.3rem);
      }

      &__right {
        display: flex;
        align-items: center;
        gap: 1.2rem;
      }
    }

    &-mobile-nav {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      background: var(--color-white);
      width: 34.1rem;
      z-index: 999;
      transition: 0.5s;

      &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.8rem 2.3rem 2.1rem 2.7rem;
        border-bottom: 0.1rem solid var(--color-grey-6);
      }

      &__logo {
        display: inline-block;
        height: 3.365rem;
      }

      .header-bottom__nav {
        padding-top: 2.5rem;
        font-family: var(--font-quicksand);
        .nav-list {
          display: flex;
          flex-direction: column;
        }
        a {
          display: flex;
          justify-content: space-between;
          padding: 1.2rem 2.1rem 1.2rem 2.7rem;
          color: var(--color-black-3);
          font-size: 1.472rem;
          font-weight: 600;

          &:hover {
            color: var(--color-primary);
          }
        }
      }

      .mega-menu {
        padding-left: 2rem;
        display: none;
      }

      .btn-close-nav {
        cursor: pointer;
      }
    }
  }

  #toggle-header-mobile-nav:checked ~ .header-mobile-nav {
    transform: translateX(0);
  }
  #toggle-header-mobile-nav:checked ~ .btn-overlay {
    display: block;
  }
}
