// Code by HauNV
$spacing-section: 4rem;

.home-banner {
  margin-top: 2rem;
  margin-bottom: $spacing-section;

  &__wrapper {
    display: flex;
    justify-content: end;
    background: var(--color-secondary-11);
    aspect-ratio: 1200 / 426;
    border-radius: 3rem;
  }
  &__img {
    padding-right: 1.75rem;
  }
}

.benefit {
  margin-bottom: $spacing-section;

  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
  }
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    flex: 1;
    &__img {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      padding: 2rem;
      background-color: var(--color-grey-4);
    }
    &__name {
      color: var(--color-black-2);
      font-family: var(--font-quicksand);
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.5;
      text-align: center;
    }
  }
}

.gift {
  margin-bottom: 4.6rem;
  &-list {
    display: flex;
    gap: 4.6rem;
  }
  &-item {
    background-color: var(--color-grey-4);
    border-radius: 3rem;
    flex: 1;
    &__img {
      display: flex;
      aspect-ratio: 577/251;
      img {
        width: 100%;
      }
    }
  }
}

.product-hot {
  margin-bottom: $spacing-section;

  &__navigation {
    margin-bottom: 1.5rem;
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 2rem;
      row-gap: 1rem;
    }
    a {
      color: var(--color-primary);
      font-family: var(--font-quicksand);
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.42;
      display: inline-block;
      padding: 0.5rem 3rem;
      border-radius: 5rem;
      border: 0.1rem solid var(--color-primary);
      box-shadow: 1.4rem 2.1rem 4.71rem 0 #fefefe;

      &.active,
      &:hover {
        background-color: var(--color-primary);
        color: var(--color-white);
      }
    }
  }
}

.seller {
  margin-bottom: $spacing-section;

  &__wrapper {
    min-height: 29.5rem;
    background: url(/assets/images/home/banner-seller.png) center / cover
      no-repeat;
    background-color: var(--color-primary);
    border-radius: 3rem;
  }

  &__wrapper {
    padding: 8rem 0 6rem 11rem;
  }

  &-content {
    color: var(--color-grey-6);
    font-family: var(--font-quicksand);
    max-width: 37rem;
    text-align: center;

    &__title {
      font-size: 3.2rem;
      font-weight: 600;
      margin-bottom: 1.4rem;
    }

    &__des {
      color: var(--color-white);
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.4;
      margin-bottom: 1.6rem;
    }
  }
}

.seller {
  &--bg-secondary &__wrapper {
    background: url(/assets/images/home/banner-seller-2.png) center / cover
      no-repeat;
    background-color: var(--color-secondary-1);
  }
}

.product-by-category {
  margin-bottom: $spacing-section;

  .banner {
    &-list {
      display: flex;
      gap: 4.784rem;
      margin-bottom: $spacing-section;
    }
    &-item {
      border-radius: 3rem;
      background: var(--color-grey-4);
      width: 50%;

      &--custom-bg {
        background: #ffede8;
      }

      img {
        aspect-ratio: 575.083 / 251;
      }
    }
  }
}

.best-selling-products {
  margin-bottom: $spacing-section;

  &__banner {
    padding: 2rem 0 2.9rem 1.7rem;
    margin-right: 3.4rem;
    border-radius: 3rem;
    background: var(--color-primary);
    text-align: center;

    .banner__img {
      aspect-ratio: 433/228;
    }
    .banner__title {
      color: var(--color-grey-4);
      font-family: var(--font-quicksand);
      font-size: 3.2rem;
      font-weight: 600;
      margin-bottom: 1.6rem;
    }
  }
}

.latest-product {
  margin-bottom: $spacing-section;

  .product-head {
    margin-bottom: 2rem;
  }
}

.product-groups {
  margin-bottom: $spacing-section;
}

.product-group {
  border-radius: 2rem;
  border: 0.1rem solid var(--color-grey-6);
  background: var(--color-white);
  padding: 1.5rem 1.6rem 0 1.6rem;

  &__list {
    margin-top: 2.525rem;
  }
}

.news {
  margin-bottom: $spacing-section;

  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    &__title {
      color: var(--Color-Text-01, #323232);
      font-family: var(--font-quicksand);
      font-size: 3.2rem;
      font-weight: 600;
    }
    &__arrow {
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        background-color: var(--color-primary);
      }
    }
  }
}

@media (min-width: 1200px) {
  .best-selling-products {
    .col-product {
      margin-left: -1rem;
      padding-left: 0;
    }
  }

  .product-groups {
    &__wrapper {
      .row {
        margin-left: calc(3.45rem / -2);
        margin-right: calc(3.45rem / -2);
        & > * {
          padding-left: calc(3.45rem / 2);
          padding-right: calc(3.45rem / 2);
        }
      }
    }
  }

  .news {
    &__wrapper {
      .row {
        margin-left: calc(4rem / -2);
        margin-right: calc(4rem / -2);
        & > * {
          padding-left: calc(4rem / 2);
          padding-right: calc(4rem / 2);
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .benefit {
    margin-bottom: 1.95rem;

    &-list {
      justify-content: center;
      row-gap: 1rem;
      column-gap: 1.8rem;
    }

    &-item {
      gap: 0.75rem;
      flex: none;
      width: calc(100% / 3 - 1.8rem);
      &__name {
        font-size: 1.2rem;
      }
      &__img {
        width: 4.98rem;
        height: 4.98rem;
        padding: 1.245rem;
      }
    }
  }

  .gift {
    margin-bottom: 2rem;

    &-item {
      &__right {
        display: none;
      }
    }
  }

  .seller {
    &__wrapper {
      min-height: 19rem;
      padding: 5.2rem 0 4.9rem 0;
    }
    &-content {
      max-width: 21rem;
      padding-left: 1.3rem;

      &__title {
        font-size: 1.8rem;
        margin-bottom: 0.85rem;
      }
      &__des {
        font-size: 0.95rem;
        margin-bottom: 0.85rem;
      }
    }
  }

  .product-by-category {
    .banner-item {
      width: 100%;
      border-radius: 2.1rem;

      &--mobile-hide {
        display: none;
      }
    }
  }

  .best-selling-products {
    &__banner {
      margin-right: 0;
      margin-bottom: 4.2rem;

      .banner__title {
        font-size: 2.4rem;
      }

      .banner-btn-view-all {
        font-size: 1.4rem;
        padding: 0.8rem 2.1rem;
      }
    }
  }

  .latest-product {
    .product-list {
      & > .row {
        row-gap: 1.2rem;
      }
    }
  }

  .product-groups {
    .row {
      row-gap: 2.4rem;
    }
  }

  .news {
    &-head {
      &__title {
        font-size: 2rem;
      }
    }
    &-list {
      > .row {
        row-gap: 1.3rem;
      }
    }
  }
}
