.sign-common {
  background: url(/assets/images/sign-in-and-up/bg.png) center / cover no-repeat;

  &__inner {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__wrapper {
    border-radius: 4.5rem;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0.6rem 1.2rem 3.46rem 0 rgba(238, 232, 231, 0.3);
    backdrop-filter: blur(1.1949999809265137rem);
    max-width: 101.6rem;
    width: 100%;
  }

  .btn-common {
    border-radius: 10rem;
    background: var(--color-primary);
    color: #fff;
    font-family: var(--font-manrope);
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
  }
}

.sign__content {
  font-size: 1.6rem;
  padding-left: 7rem;
  padding-top: 10.5rem;
  padding-right: 8rem;

  & .title {
    color: var(--color-grey);
    font-family: var(--font-manrope);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.34;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
  & .description {
    color: var(--color-secondary);
    font-family: var(--font-quicksand);
    font-weight: 600;
  }

  & .btn-new-account {
    padding: 1.45rem 2.93rem;
    margin-top: 4.2rem;
  }
}

.sign__form {
  padding: 8.6rem 6.8rem;
  border-radius: 4.5rem;
  background: #fff;
  font-family: var(--font-inter);

  & h1 {
    color: var(--color-secondary);
    font-family: var(--font-manrope);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.34;
    margin-bottom: 2.5rem;
  }

  & .form-group {
    position: relative;
    width: 100%;

    &.form-group-email {
      margin-bottom: 1.2rem;
    }
    &.form-group-password {
      margin-bottom: 2.3rem;
    }

    & .form-control {
      font-size: 1.6rem;
      font-weight: 400;
      border-radius: 10rem;
      background: var(--color-grey-6);
      height: 4.8rem;
      padding: 1.4rem 5.6rem;
      border: 0;
      width: 100%;

      &::placeholder {
        color: var(--color-placeholder);
      }
    }

    & .icon-input {
      position: absolute;
      left: 2.4rem;
      transform: translateY(-50%);
      top: 50%;
    }

    & .btn-submit {
      position: absolute;
      width: 3.6rem;
      height: 3.6rem;
      background-color: var(--color-primary);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0.7rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  & .link-forgot-password {
    color: var(--color-primary);
    font-size: 1.6rem;
    font-weight: 400;
  }

  & .social-network {
    margin-top: 4.3rem;

    &__text {
      color: #999;
      font-size: 1.4rem;
      font-weight: 400;
    }

    &__list {
      display: flex;
      justify-content: center;
      gap: 1.6rem;
      margin-top: 1.8rem;

      & li,
      & li a {
        display: flex;
      }
    }
  }
}
