<span class="star">
  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
    <path
      d="M9.50037 13.7646L13.1263 16.0592C13.7903 16.4798 14.6029 15.8581 14.4281 15.0719L13.467 10.7568L16.6736 7.84964C17.2589 7.3194 16.9444 6.31377 16.1755 6.24977L11.9555 5.87495L10.3042 1.79757C10.0071 1.05706 8.99362 1.05706 8.69656 1.79757L7.04524 5.8658L2.82521 6.24063C2.05634 6.30462 1.7418 7.31026 2.32719 7.8405L5.53371 10.7477L4.57263 15.0628C4.39789 15.849 5.21044 16.4706 5.87446 16.0501L9.50037 13.7646Z"
      fill="#E5E5E5" />
  </svg>
</span>