<li class="brand__item">
  <label class="brand__item-label">
    <input type="checkbox" class="brand__item-checkbox">
    <span class="brand__item-name">
      <%= name %>
    </span>
  </label>
</li>