<nav class="header-bottom__nav">
  <ul class="nav-list">
    <li class="nav-item">
      <a href="/">Trang chủ</a>
    </li>
    <li class="nav-item">
      <a href=" #!">
        <span>Thẻ điện thoại</span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" fill="none">
            <path d="M1.08777 1.63429L5.8192 6.36572L10.5506 1.63429" stroke="#787777" stroke-width="1.472" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </span>
      </a>
      <ul class="mega-menu">
        <li class="nav-item">
          <a href="#!">
            <span>Gift card</span>
            <span class="icon">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.00002 10.7314L5.73144 5.99999L1.00002 1.26856" stroke="#AEAEAE" stroke-width="1.472" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
          </a>
          <div class="sub-menu">
            <ul>
              <li>
                <a href="#!">
                  IMo girf car
                </a>
              </li>
              <li>
                <a href="#!">
                  WTFast card
                </a>
              </li>
              <li>
                <a href="#!">
                  Nike Gift card
                </a>
              </li>
              <li>
                <a href="#!">
                  iTunes Gift card
                </a>
              </li>
              <li>
                <a href="#!">
                  Victoria's Secret Gift card
                </a>
              </li>
              <li>
                <a href="#!">
                  IMo girf car
                </a>
              </li>
              <li>
                <a href="#!">
                  WTFast card
                </a>
              </li>
              <li>
                <a href="#!">
                  Nike Gift card
                </a>
              </li>
              <li>
                <a href="#!">
                  iTunes Gift card
                </a>
              </li>
            </ul>

            <ul>
              <li>
                <a href="#!">
                  IMo girf car
                </a>
              </li>
              <li>
                <a href="#!">
                  WTFast card
                </a>
              </li>
              <li>
                <a href="#!">
                  Nike Gift card
                </a>
              </li>
              <li>
                <a href="#!">
                  iTunes Gift card
                </a>
              </li>
              <li>
                <a href="#!">
                  Victoria's Secret Gift card
                </a>
              </li>
              <li>
                <a href="#!">
                  IMo girf car
                </a>
              </li>
              <li>
                <a href="#!">
                  WTFast card
                </a>
              </li>
              <li>
                <a href="#!">
                  Nike Gift card
                </a>
              </li>
              <li>
                <a href="#!">
                  iTunes Gift card
                </a>
              </li>
            </ul>

            <ul>
              <li>
                <a href="#!">
                  IMo girf car
                </a>
              </li>
              <li>
                <a href="#!">
                  WTFast card
                </a>
              </li>
              <li>
                <a href="#!">
                  Nike Gift card
                </a>
              </li>
              <li>
                <a href="#!">
                  iTunes Gift card
                </a>
              </li>
              <li>
                <a href="#!">
                  Victoria's Secret Gift card
                </a>
              </li>
              <li>
                <a href="#!">
                  IMo girf car
                </a>
              </li>
              <li>
                <a href="#!">
                  WTFast card
                </a>
              </li>
              <li>
                <a href="#!">
                  Nike Gift card
                </a>
              </li>
              <li>
                <a href="#!">
                  iTunes Gift card
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a href="#!">
            <span>Wallet gift card</span>
            <span class="icon">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.00002 10.7314L5.73144 5.99999L1.00002 1.26856" stroke="#AEAEAE" stroke-width="1.472" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
          </a>
          <div class="sub-menu">
            <ul>
              <li>
                <a href="#!">
                  Nike Gift card
                </a>
              </li>
              <li>
                <a href="#!">
                  iTunes Gift card
                </a>
              </li>
              <li>
                <a href="#!">
                  Victoria's Secret Gift card
                </a>
              </li>
              <li>
                <a href="#!">
                  IMo girf car
                </a>
              </li>
              <li>
                <a href="#!">
                  WTFast card
                </a>
              </li>
            </ul>

            <ul>
              <li>
                <a href="#!">
                  IMo girf car
                </a>
              </li>
              <li>
                <a href="#!">
                  WTFast card
                </a>
              </li>
              <li>
                <a href="#!">
                  Nike Gift card
                </a>
              </li>
              <li>
                <a href="#!">
                  iTunes Gift card
                </a>
              </li>
              <li>
                <a href="#!">
                  Victoria's Secret Gift card
                </a>
              </li>
              <li>
                <a href="#!">
                  IMo girf car
                </a>
              </li>
              <li>
                <a href="#!">
                  WTFast card
                </a>
              </li>
              <li>
                <a href="#!">
                  Nike Gift card
                </a>
              </li>
              <li>
                <a href="#!">
                  iTunes Gift card
                </a>
              </li>
            </ul>

            <ul>
              <li>
                <a href="#!">
                  Nike Gift card
                </a>
              </li>
              <li>
                <a href="#!">
                  iTunes Gift card
                </a>
              </li>
              <li>
                <a href="#!">
                  Victoria's Secret Gift card
                </a>
              </li>
              <li>
                <a href="#!">
                  IMo girf car
                </a>
              </li>
              <li>
                <a href="#!">
                  WTFast card
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a href="#!">
            <span>iTunes Gift card</span>
            <span class="icon">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.00002 10.7314L5.73144 5.99999L1.00002 1.26856" stroke="#AEAEAE" stroke-width="1.472" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
          </a>
        </li>

        <li class="nav-item">
          <a href="#!">
            <span> WTFast time card</span>
            <span class="icon">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.00002 10.7314L5.73144 5.99999L1.00002 1.26856" stroke="#AEAEAE" stroke-width="1.472" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
          </a>
        </li>

        <li class="nav-item">
          <a href="#!">
            <span> WTFAST</span>
            <span class="icon">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.00002 10.7314L5.73144 5.99999L1.00002 1.26856" stroke="#AEAEAE" stroke-width="1.472" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a href=" #!">
        <span>Nạp game</span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" fill="none">
            <path d="M1.08777 1.63429L5.8192 6.36572L10.5506 1.63429" stroke="#787777" stroke-width="1.472" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </span>
      </a>
    </li>
  </ul>
</nav>