<nav class="header-bottom__nav">
  <ul class="nav-list">
    <li>
      <a href="/">Trang chủ</a>
    </li>
    <li>
      <a href="#!">
        <span>Thẻ điện thoại</span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" fill="none">
            <path d="M1.08777 1.63429L5.8192 6.36572L10.5506 1.63429" stroke="#787777" stroke-width="1.472"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </span>
      </a>
    </li>
    <li>
      <a href="#!">
        <span>Nạp game</span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" fill="none">
            <path d="M1.08777 1.63429L5.8192 6.36572L10.5506 1.63429" stroke="#787777" stroke-width="1.472"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </span>
      </a>
    </li>
  </ul>
</nav>