<div class="news-item">
  <a class="news-item__img" href="#!" title="Buy RM100 Free RM5; Buy RM200 Free RM10; RM300 Free RM20 Razer Gold Malaysia">
    <img src="<%= img %>" alt="Buy RM100 Free RM5; Buy RM200 Free RM10; RM300 Free RM20 Razer Gold Malaysia" class="object-fit-cover">
  </a>
  <h3 class="news-item__title">
    <a href="#!">
      Buy RM100 Free RM5; Buy RM200 Free RM10; RM300 Free RM20 Razer Gold Malaysia
    </a>
  </h3>
</div>