<div class="product-item">
  <div class="product-item__img">
    <a href="#!" class="d-flex" title="Target Gift Card 50$ (US)- Order">
      <img src="<%= img %>" alt="Target Gift Card 50$ (US)- Order" />
    </a>
    <a href="#!" class="icon-favorite">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path
          d="M8.06671 12.3626L8.00004 12.4293L7.92671 12.3626C4.76004 9.4893 2.66671 7.5893 2.66671 5.66264C2.66671 4.3293 3.66671 3.3293 5.00004 3.3293C6.02671 3.3293 7.02671 3.99597 7.38004 4.90264H8.62004C8.97337 3.99597 9.97337 3.3293 11 3.3293C12.3334 3.3293 13.3334 4.3293 13.3334 5.66264C13.3334 7.5893 11.24 9.4893 8.06671 12.3626ZM11 1.99597C9.84004 1.99597 8.72671 2.53597 8.00004 3.38264C7.27337 2.53597 6.16004 1.99597 5.00004 1.99597C2.94671 1.99597 1.33337 3.60264 1.33337 5.66264C1.33337 8.17597 3.60004 10.236 7.03337 13.3493L8.00004 14.2293L8.96671 13.3493C12.4 10.236 14.6667 8.17597 14.6667 5.66264C14.6667 3.60264 13.0534 1.99597 11 1.99597Z"
          fill="#323232" />
      </svg>
    </a>
  </div>
  <div class="product-item__content">
    <h3 class="product-item__name">
      <a href="#!">Target Gift Card 50$ (US)- Order</a>
    </h3>
    <p class="product-item__price">120.000 ~ 134.000</p>
    <a href="#!" class="product-item__buy-now">
      <span class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17" fill="none">
          <path
            d="M1.72511 1.94266C1.52901 1.94266 1.34094 2.02056 1.20228 2.15922C1.06362 2.29788 0.985718 2.48595 0.985718 2.68205C0.985718 2.87815 1.06362 3.06621 1.20228 3.20488C1.34094 3.34354 1.52901 3.42144 1.72511 3.42144H3.36656L5.30672 11.185C5.4716 11.8431 6.0609 12.2941 6.73892 12.2941H15.9591C16.6268 12.2941 17.1939 11.8505 17.3691 11.2072L19.2856 4.16083H17.7374L15.9584 10.8153H6.73818L4.79876 3.05174C4.71864 2.73324 4.53396 2.45083 4.27429 2.24974C4.01462 2.04865 3.69498 1.94052 3.36656 1.94266H1.72511ZM15.0341 12.2941C13.8178 12.2941 12.816 13.296 12.816 14.5123C12.816 15.7286 13.8178 16.7305 15.0341 16.7305C16.2504 16.7305 17.2523 15.7286 17.2523 14.5123C17.2523 13.296 16.2504 12.2941 15.0341 12.2941ZM8.37963 12.2941C7.16333 12.2941 6.16145 13.296 6.16145 14.5123C6.16145 15.7286 7.16333 16.7305 8.37963 16.7305C9.59592 16.7305 10.5978 15.7286 10.5978 14.5123C10.5978 13.296 9.59592 12.2941 8.37963 12.2941ZM8.37963 13.7729C8.79664 13.7729 9.11902 14.0953 9.11902 14.5123C9.11902 14.9293 8.79664 15.2517 8.37963 15.2517C7.96261 15.2517 7.64023 14.9293 7.64023 14.5123C7.64023 14.0953 7.96261 13.7729 8.37963 13.7729ZM15.0341 13.7729C15.4512 13.7729 15.7735 14.0953 15.7735 14.5123C15.7735 14.9293 15.4512 15.2517 15.0341 15.2517C14.6171 15.2517 14.2948 14.9293 14.2948 14.5123C14.2948 14.0953 14.6171 13.7729 15.0341 13.7729Z"
            fill="#ED5A25" />
          <path
            d="M12.8361 1.03687V3.62964H15.38V4.88647H12.8361V7.46655H11.4835V4.88647H8.95032V3.62964H11.4835V1.03687H12.8361Z"
            fill="#ED5A25" stroke="#ED5A25" stroke-width="0.337081" />
        </svg>
      </span>
      <span class="text">Mua ngay</span>
    </a>
  </div>
</div>