<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="row">
        <!-- About us -->
        <div class="col-3 col-md-5 order-md-1">
          <div class="footer__item">
            <h3 class="footer__item-title">
              About us
            </h3>

            <nav class="footer__item-nav">
              <ul>
                <li>
                  <a href="#!"> About us</a>
                </li>
                <li>
                  <a href="#!"> News</a>
                </li>
                <li>
                  <a href="#!"> Support</a>
                </li>
                <li>
                  <a href="#!"> Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Service -->
        <div class="col-3 col-md-7 order-md-2">
          <div class="footer__item">
            <h3 class="footer__item-title">
              service
            </h3>

            <nav class="footer__item-nav">
              <ul>
                <li>
                  <a href="#!">Help Center</a>
                </li>
                <li>
                  <a href="#!"> Privacy Policy</a>
                </li>
                <li>
                  <a href="#!"> How to buy</a>
                </li>
                <li>
                  <a href="#!"> Terms of use</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- PAYMENT -->
        <div class="col-4 col-md-7 order-md-4">
          <div class="footer__item">
            <h3 class="footer__item-title">
              PAYMENT
            </h3>

            <nav class="footer__item-payment">
              <ul class="payment-list">
                <li class="payment-item">
                  <a href="#!">
                    <img src="/assets/images/payment-paypal.png" alt="Paypal">
                  </a>
                </li>
                <li class="payment-item">
                  <a href="#!">
                    <img src="/assets/images/payment-visa.png" alt="Visa">
                  </a>
                </li>
                <li class="payment-item">
                  <a href="#!">
                    <img src="/assets/images/payment-shb.png" alt="SHB">
                  </a>
                </li>
                <li class="payment-item">
                  <a href="#!">
                    <img src="/assets/images/payment-gp-bank.png" alt="GP Bank">
                  </a>
                </li>
                <li class="payment-item">
                  <a href="#!">
                    <img src="/assets/images/payment-sai-gon-bank.png" alt="SaiGon Bank">
                  </a>
                </li>
                <li class="payment-item">
                  <a href="#!">
                    <img src="/assets/images/payment-cod.png" alt="Cod">
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- FOLLOW US -->
        <div class="col-2 col-md-5 order-md-3">
          <div class="footer__item">
            <h3 class="footer__item-title">
              FOLLOW US
            </h3>

            <nav class="footer__item-social">
              <ul>
                <li>
                  <a href="#!">
                    <span class="icon">
                      <img src="/assets/images/social-facebook.png" alt="Facebook">
                    </span>
                    <span class="text">Facebook</span>
                  </a>
                </li>
                <li>
                  <a href="#!">
                    <span class="icon">
                      <img src="/assets/images/social-linkedIn.png" alt="LinkedIn">
                    </span>
                    <span class="text">LinkedIn</span>
                  </a>
                </li>
                <li>
                  <a href="#!">
                    <span class="icon">
                      <img src="/assets/images/social-instagram.png" alt="Instagram">
                    </span>
                    <span class="text">Instagram</span>
                  </a>
                </li>
                <li>
                  <a href="#!">
                    <span class="icon">
                      <img src="/assets/images/social-zalo.png" alt="Zalo">
                    </span>
                    <span class="text">Zalo</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- COMPANY -->
        <div class="col-6 col-sm-12 order-md-5">
          <div class="footer__item">
            <h3 class="footer__item-title footer__item-title--custom">
              COMPANY
            </h3>
            <div class="footer__item-content">
              <p>Hotline: 0982636800 (Các ngày trong tuần từ 8h đến 24h)</p>
              <p>Email: abcs@gmail.</p>
            </div>
          </div>
        </div>

        <!-- Certification -->
        <div class="col-6 col-sm-12 order-md-6 column-certification">
          <h3 class="footer__item-title footer__item-title--custom">
            certification
          </h3>
          <nav class="footer__item-certification">
            <ul>
              <li class="certification-bct">
                <a href="#!">
                  <img src="/assets/images/certification-bct.png" alt="BCT">
                </a>
              </li>
              <li class="certification-khong-hang-gia">
                <a href="#!">
                  <img src="/assets/images/certification-khong-hang-gia.png" alt="Noi Khong Hang Gia">
                </a>
              </li>
              <li class="certification-dmca">
                <a href="#!">
                  <img src="/assets/images/certification-dmca.png" alt="DMCA">
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__copyright">
    © 2024 by NapThe. All Rights Reserved.
  </div>
</footer>