@use "./reset";

//Component

// Layout
@use "./layouts/grid";
@use "./layouts/header";
@use "./layouts/footer";

//Component
@use "./components/banner-btn-view-all";
@use "./components/product-head";
@use "./components/product-item";
@use "./components/product-group-heading";
@use "./components/product-group-item";
@use "./components/news-item";

// Pages
@use "./pages/sign-in";
@use "./pages/sign-up";
@use "./pages/index";
@use "./pages/collection";
@use "./pages/payment";
@use "./pages/account";

// Common
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

:root {
  --font-manrope: "Manrope", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --font-heading-1: 4.8rem;
  --font-heading-2: 4rem;
  --font-heading-3: 3.2rem;
  --font-heading-4: 2.4rem;
  --font-heading-5: 2rem;
  --font-heading-6: 1.8rem;

  --color-primary: #ed5a25;
  --color-secondary: #323232;
  --color-secondary-1: #782000;
  --color-secondary-11: #ffdbce;
  --color-grey: #404040;
  --color-grey-3: #aeaeae;
  --color-black: #000;
  --color-black-2: #3e3e3e;
  --color-black-3: #565656;
  --color-white: #fff;
  --color-grey-4: #fff4f1;
  --color-grey-5: #e5e5e5;
  --color-grey-6: #f2f2f2;
  --color-grey-7: #454545;
  --color-placeholder: #afafaf;
  --color-text-4: #787777;
  --color-border-1: #ededed;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  line-height: 1.42857143;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: inherit;
}

input,
textarea,
button,
select {
  outline: none;
  font-size: inherit;
  font-family: inherit;
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  transition: all ease 0.3s;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
